# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
out

# Environment files
.env
.env.*
!.env.example
apps/*/.env.docker*
apps/*/.env.prod*

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Turbo
.turbo
.turbo/**

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Misc
.DS_Store
Thumbs.db
*.tgz
*.tar.gz
