# Dependencies
node_modules
dist
*.ts
!*.ts.map

# Prisma
prisma/*.db
prisma/*.db-journal

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Logs
logs
*.log

# Testing
coverage
*.test.ts
*.spec.ts
**/__tests__/**
**/__mocks__/**

# Misc
.DS_Store
*.tgz
